@charset "UTF-8";

body {
	height: 980px;
	background: url(../image/menu.png);
	background-size: 100% 100%;
	background-attachment: fixed;
}

div {
	margin-top: 20px;
	margin-left: 50px;
}